<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="en">FirstPlugin</label>
    <label lang="de">Erstes plugin</label>
    <version>0.0.2</version>
    <link>https://github.com/wesolowski</link>
    <author>Rafal Wesolowski</author>
</plugin>